<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="rukan_migraEntities" 
         connectionString="metadata=res://*/ORM.RukanMigraEntities.csdl|res://*/ORM.RukanMigraEntities.ssdl|res://*/ORM.RukanMigraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAAT\DESARROLLO;initial catalog=rukan_migra;user id=userrukan;password=userrukan;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="Workflow_MigraEntities" 
         connectionString="metadata=res://*/ORM.WorkflowMigraEntities.csdl|res://*/ORM.WorkflowMigraEntities.ssdl|res://*/ORM.WorkflowMigraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAAT\Desarrollo;initial catalog=Workflow_Migra;user id=userrukan;password=userrukan;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Services config-->
    <add key="Usisst_SRCEI" value="101" />
    <add key="Usisst_SII" value="102" />
    <add key="Usisst_CONADI" value="103" />
    <add key="PersistenciaMideplan" value="1" />
    <add key="PersistenciaRegistroCivil" value="-1" />
    <add key="PersistenciaSII" value="15" />
    <add key="PersistenciaConadi" value="1" />
    <add key="PersistenciaAhorroEstado" value="-1" />
    <add key="PersistenciaAhorroScotiabank" value="-1" />
    <add key="PersistenciaAhorroCoopeuch" value="-1" />
    <add key="PersistenciaAhorroCajaLosAndes" value="-1" />
    <add key="PersistenciaCreditoCajaLosAndes" value="-1" />
  </appSettings>
  <system.web>
    <globalization uiCulture="es-CL" culture="es-CL" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" defaultRedirect="~/Error/Index"></customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".ico" />
      <remove fileExtension=".js" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap" />
        <binding name="Minvu_Coopeuch_orc_minvu_coopeuch_saldo_prt_coopeuch_infoAhorroSoap" />
        <binding name="BCOESTADO_orc_infahorro_prt_bcoestado_infahorroSoap" />
        <binding name="BDD_orc_infahorro_prt_bdd_infahorroSoap" />
        <binding name="fpsSoap" />
        <binding name="REGCIVIL_orc_datos_persona_prt_regcivil_info_personaSoap" />
        <binding name="Minvu_Conadi_orc_CertificadoCalidadIndigena_prt_Conadi_CalidadIndigenaSoap" />
        <binding name="Minvu_DGMN_orc_SituacionMilitar_prtConsultaSituacionMilitarSoap" />
        <binding name="BasicHttpBinding_IObtenerCiudadano" />
        <binding name="BasicHttpBinding_IValidarDocumento" />
        <binding name="WorkFlowGestorSoap" />
        <binding name="Minvu_CajaLosAndes_orcCajaLosAndesBloqueo_prt_CajaLosAndes_BloqueoSoap" />
        <binding name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap" />
        <binding name="BDD_orc_bloqueo_Prt_bdd_bloqueoSoap" />
        <binding name="BCOESTADO_orc_bloqueo_prt_bcoestado_bloqueoSoap" />
        <binding name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap" />
        <binding name="SII_orc_inf_rol_prt_Datos_RolSoap" />
        <binding name="RegContratistasSoap" />
        <binding name="fpsSoap1" />
        <binding name="ContratistaSoap" />
        <binding name="funcionarioSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wsminvune.minvu.cl/Minvu.CajaLosAndes/Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_Saldo.asmx" binding="basicHttpBinding" bindingConfiguration="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap" contract="ICE_Ahorro_CajaLosAndes.Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap" name="Minvu_CajaLosAndes_orcCajaLosAndesSaldo_prt_CajaLosAndes_SaldoSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.Coopeuch/Minvu_Coopeuch_orc_minvu_coopeuch_saldo_prt_coopeuch_infoAhorro.asmx" binding="basicHttpBinding" bindingConfiguration="Minvu_Coopeuch_orc_minvu_coopeuch_saldo_prt_coopeuch_infoAhorroSoap" contract="ICE_Ahorro_COOPEUCH.Minvu_Coopeuch_orc_minvu_coopeuch_saldo_prt_coopeuch_infoAhorroSoap" name="Minvu_Coopeuch_orc_minvu_coopeuch_saldo_prt_coopeuch_infoAhorroSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.BancoEstado/BCOESTADO_orc_infahorro_prt_bcoestado_infahorro.asmx" binding="basicHttpBinding" bindingConfiguration="BCOESTADO_orc_infahorro_prt_bcoestado_infahorroSoap" contract="ICE_Ahorro_ESTADO.BCOESTADO_orc_infahorro_prt_bcoestado_infahorroSoap" name="BCOESTADO_orc_infahorro_prt_bcoestado_infahorroSoap" />
      <endpoint address="http://wsminvuni.minvu.cl/WSICEMideplan/FPS/fps.asmx" binding="basicHttpBinding" bindingConfiguration="fpsSoap" contract="ICE_Mideplan.fpsSoap" name="fpsSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.PISEE.Conadi/Minvu_Conadi_orc_CertificadoCalidadIndigena_prt_Conadi_CalidadIndigena.asmx" binding="basicHttpBinding" bindingConfiguration="Minvu_Conadi_orc_CertificadoCalidadIndigena_prt_Conadi_CalidadIndigenaSoap" contract="WSSII_Conadi.Minvu_Conadi_orc_CertificadoCalidadIndigena_prt_Conadi_CalidadIndigenaSoap" name="Minvu_Conadi_orc_CertificadoCalidadIndigena_prt_Conadi_CalidadIndigenaSoap" />
      <endpoint address="http://wsminvune.desarrollo.minvu.cl/Minvu.DGMN/Minvu_DGMN_orc_SituacionMilitar_prtConsultaSituacionMilitar.asmx" binding="basicHttpBinding" bindingConfiguration="Minvu_DGMN_orc_SituacionMilitar_prtConsultaSituacionMilitarSoap" contract="WSSII_Situacion_Militar.Minvu_DGMN_orc_SituacionMilitar_prtConsultaSituacionMilitarSoap" name="Minvu_DGMN_orc_SituacionMilitar_prtConsultaSituacionMilitarSoap" />
      <endpoint address="http://wsminvune.minvu.cl/WSICERegistroCivil/ValidarDocumento.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidarDocumento" contract="ICE_Consulta_Serie_Cedula_Identidad.IValidarDocumento" name="BasicHttpBinding_IValidarDocumento" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.CajaLosAndes/Minvu_CajaLosAndes_orcCajaLosAndesBloqueo_prt_CajaLosAndes_Bloqueo.asmx" binding="basicHttpBinding" bindingConfiguration="Minvu_CajaLosAndes_orcCajaLosAndesBloqueo_prt_CajaLosAndes_BloqueoSoap" contract="ICE_AhorroCajaLosAndes_Bloqueo.Minvu_CajaLosAndes_orcCajaLosAndesBloqueo_prt_CajaLosAndes_BloqueoSoap" name="Minvu_CajaLosAndes_orcCajaLosAndesBloqueo_prt_CajaLosAndes_BloqueoSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.Coopeuch/Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueo.asmx" binding="basicHttpBinding" bindingConfiguration="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap" contract="ICE_Ahorro_COOPEUCH_Bloqueo.Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap" name="Minvu_Coopeuch_orc_minvu_coopeuch_bloqueo_prt_coopeuch_bloqueoSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.Bdd/BDD_orc_bloqueo_Prt_bdd_bloqueo.asmx" binding="basicHttpBinding" bindingConfiguration="BDD_orc_bloqueo_Prt_bdd_bloqueoSoap" contract="ICE_Ahorro_SCOTIABANK_Bloqueo.BDD_orc_bloqueo_Prt_bdd_bloqueoSoap" name="BDD_orc_bloqueo_Prt_bdd_bloqueoSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.BancoEstado/BCOESTADO_orc_bloqueo_prt_bcoestado_bloqueo.asmx" binding="basicHttpBinding" bindingConfiguration="BCOESTADO_orc_bloqueo_prt_bcoestado_bloqueoSoap" contract="ICE_Ahorro_ESTADO_Bloqueo.BCOESTADO_orc_bloqueo_prt_bcoestado_bloqueoSoap" name="BCOESTADO_orc_bloqueo_prt_bcoestado_bloqueoSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.Sii/SII_orc_inf_rol_prt_Datos_Rol.asmx" binding="basicHttpBinding" bindingConfiguration="SII_orc_inf_rol_prt_Datos_RolSoap" contract="WSSII_Rol.SII_orc_inf_rol_prt_Datos_RolSoap" name="SII_orc_inf_rol_prt_Datos_RolSoap" />
      <endpoint address="http://wsminvuni.test.minvu.cl/WSICERTEC/RTECService.asmx" binding="basicHttpBinding" bindingConfiguration="RegContratistasSoap" contract="RegistroTecnico.RegContratistasSoap" name="RegContratistasSoap" />
      <endpoint address="http://wsminvuni.test.minvu.cl/WSICEMideplan/FPS/fps.asmx" binding="basicHttpBinding" bindingConfiguration="fpsSoap1" contract="WSICEMideplan_FPS.fpsSoap" name="fpsSoap1" />
      <endpoint address="http://wsminvuni.minvu.cl/WSICECRM/ObtenerCiudadano.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObtenerCiudadano" contract="ICE_CRM_Obtener_Datos_Persona.IObtenerCiudadano" name="BasicHttpBinding_IObtenerCiudadano" />
      <endpoint address="http://wsminvuni.desarrollo.minvu.cl/WSICERukan/WorkFlowGestor.asmx" binding="basicHttpBinding" bindingConfiguration="WorkFlowGestorSoap" contract="ICE_WorkFlowGestor.WorkFlowGestorSoap" name="WorkFlowGestorSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.Sii/SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComuna.asmx" binding="basicHttpBinding" bindingConfiguration="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap" contract="ICE_Propiedad_Habitacional.SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap" name="SII_orc_propiedades_habitacionales_prt_sii_prop_habitacionalesComunaSoap" />
      <endpoint address="http://wsminvuni.test.minvu.cl/WSICEContratistas/Contratista.asmx" binding="basicHttpBinding" bindingConfiguration="ContratistaSoap" contract="ICE_Contratista.ContratistaSoap" name="ContratistaSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.RegistroCivil/REGCIVIL_orc_datos_persona_prt_regcivil_info_persona.asmx" binding="basicHttpBinding" bindingConfiguration="REGCIVIL_orc_datos_persona_prt_regcivil_info_personaSoap" contract="ICE_RegistroCivil.REGCIVIL_orc_datos_persona_prt_regcivil_info_personaSoap" name="REGCIVIL_orc_datos_persona_prt_regcivil_info_personaSoap" />
      <endpoint address="http://wsminvune.minvu.cl/Minvu.Bdd/BDD_orc_infahorro_prt_bdd_infahorro.asmx" binding="basicHttpBinding" bindingConfiguration="BDD_orc_infahorro_prt_bdd_infahorroSoap" contract="ICE_Ahorro_SCOTIABANK.BDD_orc_infahorro_prt_bdd_infahorroSoap" name="BDD_orc_infahorro_prt_bdd_infahorroSoap" />
      <endpoint address="http://wsminvuni.desarrollo.minvu.cl/WSICEPssim/funcionario.asmx" binding="basicHttpBinding" bindingConfiguration="funcionarioSoap" contract="PSSIM_DatosFuncionario.funcionarioSoap" name="funcionarioSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>