
@{
    ViewBag.Title = "ErrorLogin";
}

<h2>El rut está mal formateado, no existe o no calza el nro. de serie con éste. Por favor digite nuevamente el rut  y número de serie desde inicio de sesión</h2>

